<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <title>SG Promotions</title>
    <link rel="stylesheet" href="css/sg.promotions.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
    <link rel="stylesheet" href="css/sg.promotions.custom.css" type="text/css"/>
    <link href="css/sg.promotions.restpages.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="jsShare.js" type="text/javascript"></script>
    <link href="jsShare.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="jsrender.js"></script>

    <script type="text/javascript" src="promotions.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>

    <script type="text/javascript" charset="utf-8" src="cordova-1.5.0.js"></script>
    <!--<script type="text/javascript" charset="utf-8" src="phonegapMock.js"></script>-->
</head>
<body>
<div data-role="page" id="promotion" data-position="fixed" data-theme="c">
    <script charset="UTF-8" type="text/javascript"
            src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0">
    </script>

    <script type="text/javascript">
        var map = null;
        var pinInfobox = null;
        var directionsManager;
        var promoCoordinates;
        var currentCoordinates;
        var isMapHidden = true;

        $('#promotion').live('pageshow', function(event, ui) {
            stopProgressBar();

            if (sessionStorage.getItem(promotion_parameters[0]) != null) {
                var promo = {
                    'category': decodeURIComponent(sessionStorage.getItem(promotion_parameters[0])),
                    'distance': decodeURIComponent(sessionStorage.getItem(promotion_parameters[1])),
                    'contact_number': decodeURIComponent(sessionStorage.getItem(promotion_parameters[2])),
                    'contact_number_link': decodeURIComponent(sessionStorage.getItem(promotion_parameters[3])),
                    'name': decodeURIComponent(sessionStorage.getItem(promotion_parameters[4])).toLowerCase(),
                    'promo': decodeURIComponent(sessionStorage.getItem(promotion_parameters[5])).replace(/<(?:.|\n)*?>/gm, ''),
                    'pic': decodeURIComponent(sessionStorage.getItem(promotion_parameters[6])),
                    'operating_hours': decodeURIComponent(sessionStorage.getItem(promotion_parameters[7])),
                    'url': decodeURIComponent(sessionStorage.getItem(promotion_parameters[8])),
                    'expiry_date': decodeURIComponent(sessionStorage.getItem(promotion_parameters[9])),
                    'address': decodeURIComponent(sessionStorage.getItem(promotion_parameters[10])),
                    'lat': decodeURIComponent(sessionStorage.getItem(promotion_parameters[11])),
                    'lng': decodeURIComponent(sessionStorage.getItem(promotion_parameters[12])),
                    'current_position': sessionStorage.getItem("current_position"),
                    'current_lat': sessionStorage.getItem("current_lat"),
                    'current_lng': sessionStorage.getItem("current_lng")
                };

                $("#promotion-result").hide().html($("#PromotionTemplate").render(promo));
                $('#socialmedia').jsShare({ maxwidth: 370, googlebuzz: false, linkedin: false, initialdisplay: "expanded", animate: false, title: promo.name + ": " + promo.promo + " ", address: promo.url});

                createMap(promo);
            }

            // jqmData implementation below pointless since links are external now
            // var $item = $(this);

            //                if($(this).jqmData('category') != null) {
            //                    $.each(promotion_parameters, function(index, value) {
            //                        $('#promotion-' + value).text($item.jqmData(value));
            //                    });
            //                };
        });

        $('#promotion').live('pageshow', function (event, ui) {
            $("#promotion-result").fadeIn(400);
        });

        function createMap(promo) {
            promoCoordinates = new Microsoft.Maps.Location(promo.lat, promo.lng);
            currentCoordinates = new Microsoft.Maps.Location(promo.current_lat, promo.current_lng);
            var mapOptions = {
                credentials:bing_credentials,
                center:promoCoordinates,
                mapTypeId:Microsoft.Maps.MapTypeId.road,
                zoom:14,
                showScalebar:false,
                enableClickableLogo:false,
                enableSearchLogo:false
            }

            map = new Microsoft.Maps.Map(document.getElementById("map_canvas"), mapOptions);

            var center = map.getCenter();
            var pin = new Microsoft.Maps.Pushpin(center, {text:'P'});
            pinInfobox = new Microsoft.Maps.Infobox(pin.getLocation(),
                    {   title:'Promotion',
                        description:promo.name,
                        height:100,
                        width:150,
                        visible:false,
                        offset:new Microsoft.Maps.Point(0, 15)});

            Microsoft.Maps.Events.addHandler(pin, 'click', displayInfobox);
            Microsoft.Maps.Events.addHandler(map, 'viewchange', hideInfobox);
            map.entities.push(pin);
            map.entities.push(pinInfobox);

//            if (!directionsManager)
//            {
//                Microsoft.Maps.loadModule('Microsoft.Maps.Directions', { callback: createRoute });
//            }
//            else
//            {
//                createRoute();
//            }

            $('#map_canvas').hide();
            $('#showdirection').click(function () {
                displayMap();
            });

            $('#showmap').click(function () {
                displayMap();
            });
        }

        function displayMap() {
            centerMap(promoCoordinates);

            $('#map_canvas').animate({
                height:"toggle", opacity:"toggle"
            }, "slow");

            if (isMapHidden) {
                $('html,body').delay('slow').animate({scrollTop:$('#where').offset().top});
                isMapHidden = false;
            } else {
                $('html,body').delay('slow').animate({scrollTop:$('#promotion-content').offset().top});
                isMapHidden = true;
            }
        }

//        function createDirectionsManager() {
//            var displayMessage = "";
//            if (!directionsManager) {
//                directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
//                // displayMessage = 'Directions Module loaded<BR>';
//                // displayMessage += 'Directions Manager loaded';
//            }
//            // displayAlert(displayMessage);
//            directionsManager.resetDirections();
//            directionsErrorEventObj = Microsoft.Maps.Events.addHandler(directionsManager, 'directionsError', function (arg) {  });
//            directionsUpdatedEventObj = Microsoft.Maps.Events.addHandler(directionsManager, 'directionsUpdated', function() {  });
//        }
//
//        function createRoute()
//        {
//            if (!directionsManager) { createDirectionsManager(); }
//            directionsManager.resetDirections();
//            directionsManager.setRequestOptions({ routeMode: Microsoft.Maps.Directions.RouteMode.walking });
//            var currentWaypoint = new Microsoft.Maps.Directions.Waypoint({ location: currentCoordinates });
//            directionsManager.addWaypoint(currentWaypoint);
//            var promoWaypoint = new Microsoft.Maps.Directions.Waypoint({ location: promoCoordinates });
//            directionsManager.addWaypoint(promoWaypoint);
//            // Set the element in which the itinerary will be rendered
//            directionsManager.setRequestOptions({ distanceUnit:
//                    Microsoft.Maps.Directions.DistanceUnit.kilometers, routeOptimization:
//                    Microsoft.Maps.Directions.RouteOptimization.shortestDistance });
//            // directionsManager.setRenderOptions({ itineraryContainer: document.getElementById('map_canvas') });
//            directionsManager.calculateDirections();
//            map.setView({center: promoCoordinates, bounds: new Microsoft.Maps.LocationRect.fromLocation(map.getCenter())})
//        }

        function centerMap(coordinates) {
            map.setView({center:coordinates, zoom:14});
        }

        function displayInfobox(e) {
            pinInfobox.setOptions({ visible:true });
        }

        function hideInfobox(e) {
            pinInfobox.setOptions({ visible:false });
        }
    </script>

    <div data-role="content" id="promotion-content">
        <div class="progress" id="progress">
            <div class="pip"></div>
            <div class="pip"></div>
            <div class="pip"></div>
            <div class="pip"></div>
            <div class="pip"></div>
        </div>
        <h1>promotion details</h1><br/>

        <div id="promotion-result"></div>

        <!--		<p>Promotion is currently loading...</p>-->
    </div>

    <script id="PromotionTemplate" type="text/x-jsrender">
        <div id="titleContainer">
            <div style="float:left"><img src="{{:pic}}" style="vertical-align:bottom; margin-top:0px" width="48"
                                         height="48"/></div>
            <div style="width: 230px; float:left; margin-left:10px; margin-top:-7px">
                <h3 id="promotion-name">{{:name}}</h3>

                <p>Category: {{:category}} <br/>
                    Distance: <a href="" id="showdirection">{{:distance}}m from {{:current_position}}</a>
                </p>
            </div>
            <div style="clear:both"></div>
        </div>
        <h3>what</h3>

        <p>{{:promo}}
            {{if expiry_date != 'null'}}
            <br/>{{:expiry_date}}
            {{/if}}
        </p>

        <h3 id="where">where</h3>

        <p><a href="" id="showmap">{{:address}}</a>
            {{if operating_hours != "" && operating_hours != 'null'}}
            <br/>Operating Hours: {{:operating_hours}}
            {{/if}}
        </p>
        <!--<image src="" id="map" />-->
        <div id='map_canvas' style="position:relative; width:290px; height:370px;"></div>

        {{if contact_number_link != "" && contact_number_link != "null" }}
        <h3>contact</h3>
        <p>
            <a href="{{:contact_number_link}}">{{:contact_number}}</a>
        </p>
        {{/if}}
        <h3>share</h3>
        <p id="socialmedia"></p>
    </script>
</div>
</body>
</html>