@charset "utf-8";
/* CSS Document */

.homelogo {
	text-align: center;
	background: #CC3333;
	margin-bottom:40px;
}

body.custom {
/*	margin: 0px;
	padding: 0px;*/	
}

div.custom {
/*	margin: 0px;
	padding: 0px;	*/
}

div.box {
	margin-left:auto;
	margin-right:auto;
	padding: 4px 5px 4px 4px;
	width: 120px;
	height: 120px;
	border-style:dashed;
	border-color:#FFFFFF;
	text-align: right;
	vertical-align: bottom;
	display: table-cell;
	line-height: 20px;
}

div.nearbyimg {
	background-image: url(../images/nearby.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

div.locationimg {
	background-image: url(../images/location.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

div.trainimg {
	background-image: url(../images/train.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

div.favimg {
	background-image: url(../images/fav.png);
	background-repeat: no-repeat;
	background-position: 5px 0px;
}

div.settingsimg {
    background-image: url(../images/settings.png);
    background-repeat: no-repeat;
    background-position: 5px 0px;
}

h3.textinbox {
	margin: 0px;
	padding: 0px;
	font-weight:normal;
	color: #FFFFFF;
}

h1 {
    font-size: 32px;
	font-weight:normal;
	color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 10px;
}

h3 {
	margin: 0px;
	padding: 0px;
	font-weight:normal;
	color: #FFFFFF;
}

h3.black {
	color: #000000;
}

.ui-page {
	font-family: "Segoe UI", Verdana, Arial
}

#logo-header {
	font-size: 32px;
	color: #FFFFFF;
}

#logo-punchline {
	font-size: 17px;
	margin-top: -5px;
	color: #ff9999;
}

p.black {
	color: #000000;
}

#promotion-content h3{
    font-size: 24px;
    margin-bottom: 0px;
}

#promotion-content p {
    margin-top: 0px;
    font-size: 13px;
    color: #F1C9C9;
}

#location-content p {
    margin-top: 0px;
    font-size: 13px;
    color: #F1C9C9;
}

a:link {color:#360D0D; text-decoration: none;}
a:active {color:#360D0D; text-decoration: none;}
a:visited {color:#360D0D; text-decoration: none;}
a:hover {color:#360D0D; text-decoration: none; }

#promotion-name {
    display: inline;
}

.progress div
{
    /*margin-top: -10px;*/
    width: 3px;
    height: 3px;
    overflow: hidden;
    position: absolute;
    background: white;
}

.progress
{
    position: relative;
    height:10px;
}